/* — GLOBAL — */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
:root{
    --primary:#007bff;
    --white:#fff;
    --gray-light:#f4f5f7;
    --gray:#7D7D7D;
    --hover:#CCE4F0;
    --dark:#1f2937;
    --logout:#A80202;
     --white: #fff;
    --gray: #808080;
    --light-gray: #f7f8fa;
    --primary: #2d69f6;
    --dark: #222;
    --green: #22c55e;
    --yellow: #f4a72c;
    --border: #e5e8eb;
    --radius:12px;
    --shadow:0 4px 12px rgba(0,0,0,0.08);
}
html {
  font-size: 70%;
}

/* RESPONSIVE FONT SCALE */
@media (max-width:1440px) {
  html { 
    font-size: 62.5%; 
    max-width: fit-content;
  }
}
@media (max-width:1200px) {
  html { 
    font-size: 58%; 
  }
}
@media (max-width:900px) {
  html { 
    font-size: 55%; 
  }
}
@media (max-width:600px) {
  html { 
    font-size: 43.7%; 
  }
}
body.dashboard{
    display: flex;
    background: var(--gray-light);
}

/* — SIDEBAR — */
.sidebar {
  width: 250px;
  background: var(--white);
  padding: 2rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  /* max-height: 100vh; */
  justify-content: space-between;
}
.sidebar__logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
  font-weight: 600;

}

/* .sidebar__nav {
  margin-top: 1rem;
} */
.sidebar__list {
  margin-top: 4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  font-size: 1.5rem;
  color: var(--gray);
}

.sidebar__item {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .8rem 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  color: var(--dark);
  transition: background .2s;
  text-decoration: none;
}

.sidebar__item:hover,
.sidebar__item--active {
  background: var(--hover);
}

.sidebar__logout {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background: none;
  border: none;
  color: var(--logout);
  cursor: pointer;
  margin-top: 19.5rem;
  font-size: 1.8rem;
}

.main {
  flex: 1;
  padding: 2rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.main-header__search-wrapper,
.main-header__actions{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}
.main-header__search-input{
  width: 250px;
  padding: .8rem 1.2rem;
  border-radius: .5rem;
  border: 1px solid #e5e7eb;
}
.main-header__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-header__avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.main-header__user{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
.header__para {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header__menu-btn,
  .main-header__search-icon {
    display: none;
  }
.dashboard-top__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    line-height: 1.5;
  }
@media screen and (max-width: 1024px) {

  /* Hide hamburger & search icon */
  .main-header__menu-btn,
  .main-header__search-icon {
        display: none;
  }

  /* Flex dashboard top wrapper */
  .dashboard-top__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2rem;
        line-height: 1.5;
  }

  /* Flex search input + actions wrapper */
  .main-header__search-wrapper,
  .main-header__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
  }
  .main-header__user{
        display: flex;
        align-items: center;
        gap: 1rem;
  }
  .main-header__avatar{
        border-radius: 50%;
  }
}

.btn {
  padding: .5rem 2rem;
  border-radius: var(--radius);
  cursor: pointer;
  border: none;
}

.btn--primary {
  background: var(--primary);
  color: var(--white);
}

/*  STATS CARDS */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  width: 58%;
  margin-bottom: 2rem;
}

.stats__card {
  background: var(--white);
  padding: 2rem 1.5rem;
  width: 25rem;
  height: 10rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  
}
.card{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
}
.stats__value {
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.stats__label {
  color: var(--gray);
  font-size: 1.5rem;
}
/* .stats__img{
  width: 3rem;
  height: 3rem;
} */
@media (max-width: 900px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard__charts {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  /* .sidebar {
    display: none;
  } */

  .main {
    padding: 1rem;
  }

  .main__header {
    flex-direction: column;
    gap: 1rem;
  }

  .stats {
    grid-template-columns:  repeat(2, 1fr);
  }
}
/* .table__btn{
    color: var(--hover);
}
.table {
  width: 100%;
  font-size: 3rem;
  background-color: var(--white);
  border-collapse: collapse;
  border-radius: .5rem;
}

.table th,
.table td {
  padding: .9rem;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
  font-size: .9rem;
} */
.templates__tabs {
  display: inline-flex;
  gap: 0.5rem;
  background: var(--hover);
  padding: 6px;
  border-radius: 50px;
}

.templates__tab {
  border: none;
  padding: 10px 18px;
  background: transparent;
  color: var(--gray);
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.9rem;
}

.templates__tab--active {
  background: var(--white);
  color: var(--dark);
  font-weight: 700;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

/* Table */
.templates {
  padding: 20px;
}

.templates__table {
  background: var(--white);
  margin-top: 15px;
  border-radius: 12px;
  overflow: hidden;
}
/*  2fr 1.5fr 1fr 1.5fr 1fr 0.6fr */
.templates__row {
  display: grid;
  grid-template-columns:  2fr 1fr 1fr 1.5fr 1fr 1fr ;
  gap: 4rem;
  padding: 15px;
  border-bottom: 1px solid var(--border);
  align-items: center;
}
.templates__row--head {
  background: var(--white);
  font-weight: 600;
}

.templates__info {
  display: flex;
  gap: 12px;
  align-items: center;
}
.templates__drag {
  font-size: 2rem;
  cursor: grab;
  opacity: .4;
}
.templates__name {
  margin: 0;
  font-size: 1.4rem;
}

.templates__desc {
  margin: 2px 0 0;
  font-size: 1rem;
  color: var(--gray);
}

.templates__badge {
  background: #eef2ff;
  padding: 5px;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;
}

.templates__status {
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 0.8rem;
  text-align: center;
}

.templates__status--active {
  background: var(--green);
  color: white;
}

.templates__status--inactive {
  background: var(--yellow);
  color: white;
}

.templates__action {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* MOBILE  */
@media (max-width: 768px) {

  .templates__row--head {
    display: none; /* hide headers */
  }

  .templates__row {
    grid-template-columns: 1fr;
    padding: 16px 12px;
    gap: 8px;
    background: var(--white);
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--border);
  }

  .templates__info {
    align-items: flex-start;
  }

  .templates__drag {
    font-size: 1.6rem;
  }

  .templates__badge {
    width: fit-content;
  }

  .templates__status {
    width: fit-content;
  }

  .templates__action {
    margin-left: auto;
  }
}
