*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #f7f7f7;
    padding-top: 30px;
    border-right: 1px solid #ddd;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px;
}

.menu a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
}

.menu a:hover, .menu .active {
    background: #e1efff;
    color: #0067ff;
}

.logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: red;
    text-decoration:none;
}

/* Main content */
.main {
    flex: 1;
    padding: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

.form-calendar-section {
    display: flex;
    justify-content: center;
    gap: 50px;
}

form {
    width: 320px;
}

label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
}

#calendar{
    width: 350px;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn-cancel {
    background:red;
    color:#fff;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}

.btn-save {
    background:green;
    color:#fff;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}
