*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
:root{
    --primary: #000000;
    --btn-color: #0077B6;
    --white: #ffff;
    --hero-btn: #0A93F4;
    --testimonial: #0A93F45C;
    --text-color: #585656;
    --instruction__title: #282929;
}
html{
    font-size: 62.5%;
}
@media (max-width:1200px) {
    html{
        font-size: 58%;
    }
}
@media (max-width:900px) {
    html{
        font-size: 55%;
    }
}
@media (max-width:600px) {
    html{
        font-size: 43.7%;
    }
}
.instruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.instruction__img{
    margin-top: 10rem;
}
.instruction__content{
    text-align: center;
    margin-top: 2rem;
    width: 50rem;
}
.instruction__title{
    color: var(--instruction__title);
    font-size: 4.8rem;
    margin-bottom: 1rem;
}
.instruction__text{
    color: var(--text-color);
    font-size: 2rem;
    line-height: 2;
    font-weight: 600;
}
.instruction__btn{
    background-color: var(--btn-color);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: .5rem;
    padding: .6rem 10rem;
}
.instruction__wrapper{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 3rem;
}
.instruction__link{
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: var(--btn-color);
}
.instruction__message{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}