* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
:root{
    --primary: #000000;
    --btn-color: #0077B6;
    --forgot-illustration: #E2E4E9;
    --hero-btn: #0A93F4;
    --forgot__content: #FFFFFF;
    --text-color: #585656;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
html{
    font-size: 62.5%;
}
@media (max-width:1200px) {
    html{
        font-size: 58%;
    }
}
@media (max-width:900px) {
    html{
        font-size: 55%;
    }
}
@media (max-width:600px) {
    html{
        font-size: 43.7%;
    }
}
.forgot {
  display: flex;
}
@media (max-width: 900px) {
    .forgot {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:700px) {
    .forgot {
        display: flex;
        flex-direction: column;
    }
}
.forgot__illustration img{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    object-fit: cover;
}
@media (max-width: 900px) {
    .forgot__illustration img{
        height: 100vh;
        width: 100vw;
    }
}
@media (max-width: 700px) {
    .forgot__illustration {
        width: 100vw;
    }
}
.forgot__image {
    width: 100vw;
    height: 100vh;
}
.forgot__content {
    /* flex: 1; */
    background-color: var(--forgot__content);
    padding: 3rem 4rem;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forgot__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
@media (max-width: 900px) {
    .forgot__content {
        height: 100vh;
        width: 100vw;
    }
}
/* @media (max-width: 700px) {
    .forgot__content {
        height: 100vh;
    }
}
@media (max-width: 600px) {
    .forgot__content {
        height: 100vh;
    }
} */
.form__wrapper{
    margin-top: 2rem;
}
.forgot__title {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 5rem ;
    color: var(--primary)
}
@media (max-width: 1300px) {
    .forgot__title {
       font-size: 2.5rem;
       width: 100%;
    }
}
@media (max-width: 900px) {
    .forgot__title {
       font-size: 4rem;
       width: 100%;
    }
}
.forgot__text {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    width: 55rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}
@media (max-width: 900px) {
    .forgot__text {
       font-size: 2rem;
    }
}
.forgot__form {
    margin-top: 5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 80%;
}
@media (max-width: 900px) {
    .forgot__form {
        width: 80%;
    }
}
@media (max-width:700px) {
    .forgot__form {
        width: 100%;
    }
}
.forgot__label {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary);
}

.forgot__input {
    padding: 1.6rem;
    border: 1px solid #585656;
    border-radius: .5rem;
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.forgot__button {
    background-color: var(--hero-btn);
    color: var(--forgot__content);
    font-size: 2rem;
    padding: 1.2rem;
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: .5rem;
    cursor: pointer;
}
.forgot__link {
    margin-top: 3rem;
    display: inline-block;
    font-size: 2rem;
    color: var(--hero-btn);
    font-weight: 700;
}

