* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
:root{
    --primary: #000000;
    --btn-color: #0077B6;
    --forgot-illustration: #E2E4E9;
    --hero-btn: #0A93F4;
    --forgot__content: #FFFFFF;
    --text-color: #585656;
}
body {
  display: flex;
  justify-content:center;
  align-items: center;
}
html{
}
@media (max-width:1400px) {
    html{
        font-size: 45%;
    }
}
@media (max-width:900px) {
    html{
        font-size: 40%;
    }
}
@media (max-width:600px) {
    html{
        font-size: 43.7%;
    }
}
.forgot {
  display: flex;
  gap: 50px;
}
@media (max-width: 900px) {
    .forgot {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:700px) {
    .forgot {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .forgot__illustration img{
        height: 100vh;
        width: 50vw;
        display: none;
    }
}
@media (max-width: 700px) {
    .forgot__illustration {
        width: 100vw;
    }
}
.forgot__image {
    width: 35vw;
    height: 95vh;
}
.forgot__content {
    /* flex: 1; */
    background-color: var(--forgot__content);
   
    width: 35vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Syntax: offset-x | offset-y | blur-radius | spread-radius | color */

}
.forgot__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
@media (max-width: 900px) {
    .forgot__content {
        width: 100%;
    }
        
}
/* @media (max-width: 700px) {
    .forgot__content {
        height: 100vh;
    }
}
@media (max-width: 600px) {
    .forgot__content {
        height: 100vh;
    }
} */
.form__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
     background-color: #fff;
      padding: 3rem 0rem;
      height: 70vh;
      padding: 20px;
}
.forgot__title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    color: var(--primary)
}
@media (max-width: 1300px) {
    .forgot__title {
       font-size: 2.5rem;
       width: 100%;
    }
}
@media (max-width: 900px) {
    .forgot__title {
       font-size: 4rem;
       width: 100%;
    }
}
.forgot__text {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
    line-height: 1.6;
    text-align: center;
}
@media (max-width: 900px) {
}
.forgot__form {
    margin-top: 5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 80%;
}
@media (max-width: 900px) {
}
@media (max-width:700px) {
    .forgot__form {
        width: 80%;
    }
}
.forgot__label {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary);
}

.forgot__input {
    padding: 15px 10px;
    border: 1px solid #585656;
    border-radius: .5rem;
    font-size: 15px;
    margin-bottom: 10px;
}

.forgot__button {
    background-color: var(--hero-btn);
    color: var(--forgot__content);
    font-size: 15px;
    padding: 10px;
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: .5rem;
    cursor: pointer;
}
.forgot__link {
margin-top: 20px;
    display: inline-block;
    font-size: 15px;
    color: var(--hero-btn);
    font-weight: 700;
}

