*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
:root{
    --primary: #000000;
    --btn-color: #0077B6;
    --white: #ffff;
    --hero-btn: #00B4D8;
    --testimonial: #0A93F45C;
    --text-color: #585656;
    --instruction__title: #282929;
}
html{
    font-size: 62.5%;
}
@media (max-width:1200px) {
    html{
        font-size: 58%;
    }
}
@media (max-width:900px) {
    html{
        font-size: 55%;
    }
}
@media (max-width:600px) {
    html{
        font-size: 43.7%;
    }
}
body{
   background-image: url("static/assets/Rectangle 77.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    width: 70%;
    height: 80%;
}
@media (max-width:900px) {
    .container{
        height: 70%;
    }
}
.instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.instruction__img{
    margin-top: 2rem;
}
@media (max-width:900px) {
    .instruction__img{
        margin-top: 1rem;
    }
}
.instruction__content{
    text-align: center;
    margin-top: 2rem;
    width: 50rem;
}
@media (max-width:900px) {
    .instruction__content{
    margin-top: 1rem;
}
}
@media (max-width: 680px) {
    .instruction__content{
    width: 45rem;
}
}
.instruction__title{
    color: var(--instruction__title);
    font-size: 4.8rem;
    margin-bottom: 1rem;
}
@media (max-width: 680px) {
    .instruction__text{
        font-size: 3rem;
    }
}
.instruction__text{
    color: var(--text-color);
    font-size: 2rem;
    line-height: 2;
    font-weight: 600;
}
@media (max-width: 680px) {
    .instruction__text{
        /* width: 100%; */
        font-size: 1.5rem;
        line-height: 1.5;
    }
}
.instruction__btn{
    background-color: var(--btn-color);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: .5rem;
    padding: .6rem 10rem;
}
@media (max-width:900px) {
    .instruction__btn{
        /* width: 95%; */
        padding: .6rem 8rem;
    }
}
@media (max-width: 680px) {
    .instruction__btn{
        /* width: 100%; */
        font-size: 1.4rem;
        padding: .6rem 5rem;
    }
}
.instruction__wrapper{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1.5rem;
}
.instruction__link{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--hero-btn);
}
@media (max-width: 750px) {
    .instruction__link{
    font-size: 1.8rem;
}
}
@media (max-width: 680px) {
    .instruction__link{
    font-size: 1.5rem;
}
}
.instruction__message{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}
@media (max-width: 750px) {
    .instruction__message{
    font-size: 1.8rem;
}
}
@media (max-width: 680px) {
    .instruction__message{
    font-size: 1.5rem;
}
}