*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mulish", sans-serif;
}
html {
    font-size: 62.5%;
}
body {
     background-color: #f1f1f1;
     display: flex;
     position: relative;
     justify-content: center;
     align-items: center;

}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.back_img {
    display: block;
    position:absolute;
    z-index: 1;
    width: 70%;
    height: 90vh;
    filter: blur(4px);
  background: rgba(0, 0, 0, 0.507);
}
.logo{
    position: absolute;
    top: 25px;
    left: 40px;
    /* background-color: aqua; */
}
.logo img{
    width: 120px;
    height: auto;
}
@media (max-width:900px) {
    .container {
        width: 60rem;
        height: 40rem;
        flex-shrink: 1;
    }
    .back_img {
        width: 100%;
    }
    html {
        font-size: 40%;
    }
    
}
@media (max-width:600px) {
    html {
        font-size: 30%;
    }
    
}
.container {

background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    width:90rem;
    height: 60rem;
    border-radius: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); 
}
.heading  {
    font-size: 4.4rem;
    font-weight: 500;
    color: #282929;
}
 .pg {
    font-size: 2rem;
    font-weight: 300;
    color: #585656;
 }
.image-logo img{
    width: 20rem;
}
.primary-btn{
    background-color: #0077B6;
    color: white;
    border: none;
    padding: 1rem 21.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    transition: all 0.3s ease;
}
.primary-btn:hover {
  background-color: #072ec8;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.link{
    display: block;
    margin-top: 10px;
    color: #0077B6;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    transition: color 0.3s ease;
}
.link:hover{
    text-decoration: underline;
    color: #072ec8;
}