* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Mulish", sans-serif;
}
/* ✅ Smooth scrolling for all section jumps */
html {
    scroll-behavior: smooth;
}

body {
    background-color:#FAFAFA ;
}
html {
    font-size: 62.5%;
}
@media (max-width:1200px) {
    html {
        font-size: 45%;
    }
    .footer_bottom {
        gap: 10rem;
    }
}
@media (max-width:900px) {
    html {
        font-size:30% ;
    }
}


.heading {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 5rem;
}
.heading_img {
    width: 13.2rem;
    height: 3rem;
}
.nav_items {
    display: flex;
    gap: 15rem;
    padding-right: 10rem;
}
.nav_item {
    list-style: none;
    font-size: 2rem;
    font-weight: 700;
}
.nav_link.home {
    color: #0077B6;
}
.nav_link {
    text-decoration: none;
    color: #111827;
    }
.nav_btn {
    display: block;
    padding: 1.2rem 2rem;
    background-color:  lab(47.71% -4.19 -40.93);
    border-radius: 6px;
    color: white;
    border: none;
}

.nav_link:hover {
  color: #007bff;
  font-weight: 700;
  border-bottom: 2px solid #007bff;
  transition: all 0.3s ease;
}
/* hero section */
.hero {
    height:40vh ;
    width: 100%;
  background: radial-gradient(circle at 20% -1%, rgba(163, 227, 255, 0.164) 1%, #FAFAFA 30% 30%);

}
.hero-heading {
    color:#4A5565 ;
    font-size: 9.6rem;
    font-weight: 700;
    text-align: center;
}
.hero-diff {
     color:#00B4D8;
    font-size: 9.6rem;
    font-weight: 600;
}
.hero_pg {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #4A5565;
}
.billing-toggle {
  display: flex;
  justify-content: center;
  background:#fff;
  border-radius: 10px;
  padding: 4px;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  gap: 5px;
}

.toggle-btn {
  border: none;
  background: transparent;
  color: #555;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-btn.active {
  background: linear-gradient(to right, #007bff);
  color: #fff;
}

.toggle-btn:hover {
  background: rgba(0, 123, 255, 0.1);
}


/* card-box */
.class_section {
}
.card_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card_con {
    padding: 4rem;
    width: 35rem;
    background-color: #FFF;
    height:80rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    border-radius: 15px;
    box-shadow:  0 15.472px 23.208px -4.642px rgba(0, 0, 0, 0.10), 0 6.189px 9.283px -6.189px rgba(0, 0, 0, 0.10);
}
.card_con.two {
    height: 90rem;
    border-top:3px solid #0077B6 ;
    border-left: 1px solid #0077B6;
    border-right: 1px solid #0077B6;
    border-bottom: 1px solid #0077B6;
}
.card_con.three {
    height: 85rem;
}
.card_icon {
    font-size: 2rem;
    color: #fff;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 5px;
   background-color:  #212529;
box-shadow:  0 15.472px 23.208px -4.642px rgba(0, 0, 0, 0.10), 0 6.189px 9.283px -6.189px rgba(0, 0, 0, 0.10);
}
.top_card-two {
    display: flex;
    justify-content: space-between;
}
.card_icon-p {
    padding: 0.5rem;
    height: 2rem;
    color: #fff;
    background-color: #0077B6;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
}
.card_icon.two {
    background-color:  #0077B6;
box-shadow: 0 15.472px 23.208px -4.642px rgba(0, 0, 0, 0.10), 0 6.189px 9.283px -6.189px rgba(0, 0, 0, 0.10);
}
.card_icon.three {
    background-color: #00B4D8;
}
.card_title-h {
    font-size: 3.7rem;
    font-weight: 400;
    color: #111827;
}
.card_title-p {
    color: #6A7282;
    font-size: 2rem;
    font-weight: 400;
}
.card_type-p.two {
    display: inline-block;
    margin-top: 2rem;
}
.card_type {
    font-size: 7.4rem;
    font-weight: 400;
}
.card_type-p {
    font-size: 2rem;
    font-weight: 400;
    color: #6A7282;
}
.card_type-div {
    display: flex;
    align-items: center;
}
.card_btn {
    width: 20rem;
    padding: 1.5rem 0;
    color: #fff;
    border-radius: 10px;
background-color: #111827;
 border:none;
}
.card_btn.two {
    background-color: #0077B6;
}
.card_btn.three {
    background-color: #00B4D8;
}
.card_list {
   color: #364153;
font-size: 2rem;
font-weight: 400;
}
.vector {
    background-color: #111827;
    font-size: 1rem;
    color: #fff;
    padding: 0.6rem;
    border-radius: 50%;
}
.vector.two {
    background-color: #0077B6;
}
.vector.three {
    background-color: #00B4D8;
}



/* faq section */

.faq-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
.faq_title {
    margin-top: 10rem;
    color: #101828;
    font-size: 5.5rem;
    font-weight: 500;
    text-align: center;
}
.faq_div {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    border-radius: 10px;
border: 1.031px solid rgba(229, 231, 235, 0.50);

background: rgba(255, 255, 255, 0.60);
}
.faq-h {
    font-size: 2.7rem;
    font-weight: 400;
    color: #101828;
}
.faq-p {
    font-size: 2.4rem;
    font-weight: 400;
    color: #4A5565;
}

/* faq section */
.ready_section {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.ready_con {
    width: 80%;
    height: 70vh;
    border-radius: 37.132px;
background: linear-gradient(180deg, #0077B6 0%, #00B4D8 100%);
display: flex;
flex-direction: column;
gap: 4rem;
justify-content: center;
align-items: center;
}

.ready_heading {
    font-size: 5.2rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.ready_pg {
    font-size: 2.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
}
.card_btn.ready {
    color: #0077B6;
    background-color: #fff;
    padding: 2rem 4rem;
    font-size: 1.8rem;
}


/* footer */

/* footer */
footer {
    background-color: #003C5B;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
 .footer_top-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 10rem;
    position: relative;
    top: 10rem;

 }

.footer_logo-div {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.smart {
    font-size: 3rem;
    color: #FFFDFA;
    font-weight: 500;
}
.footer_logo {
    width: 5rem;
    
}
.smart_div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.footer_list-container {
    display: flex;
    gap: 20rem;
}
li {
    font-size: 1.6rem;
    color: #FFFDFA;
    list-style: none;
    margin-top: 2rem;
}

.footer_heading {
    font-size: 2rem;
    font-weight: 500;
    color: #FFFDFA;
}
.footer_pg {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    width: 60rem;
    color: #FFFDFA;
    line-height: 2;
}
.footer_socials {
display: flex;
align-items: center;
gap: 2rem;
}
.footer_social-image {
    display:inline-block;
    background-color:white;
    width: 3rem;
}
.footer_social-img.two {
    background-color: none;
    width: 3rem;
}

 /* last footer  */
.footer_last-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: #FFFDFA;
    margin-left: 6rem;
}

.info_div-con {
    display: flex;
    gap: 2rem;
}
.info_div {
    display: flex;
    gap: 1rem;
}
.info {
    width: 3rem;
}
.info_pg {
    font-size: 1.6rem;
    font-weight: 500;
    color: #FFFDFA;
}


.footer_newsletter {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer_heading-middle  {
  font-size: 1.6rem;
  color: #FFFDFA;
  font-weight: 700;

}

.newsletter_form {
  display: flex;
  align-items: center;
  border: 1px solid #FFD900; /* yellow border */
  border-radius: 50px;
  overflow: hidden;
  width: 350px;
  height: 45px;
}

.newsletter_input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFDFA;
  padding: 0 1.5rem;
  font-size: 1.4rem;
}

.newsletter_input::placeholder {
  color: #C6C6C6;
}

.newsletter_btn {
  background-color: #FFD900; /* yellow */
  color: #003C5B;            /* dark blue text */
  border: none;
  outline: none;
  padding: 0 2rem;
  border-radius: 50px;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter_btn:hover {
  background-color: #ffed4a;
}
.footer_last-con {

    display: flex;
    justify-content: center;             
    background-color: #003C5B;     
    flex-wrap: wrap;   
    margin-top: 10rem;         
    gap: 75rem;
}


.footer_bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #003C5B;
  color: #FFFDFA;
  font-size: 1.3rem;
  padding: 5rem 20rem;
  gap: 50rem;
  flex-wrap: nowrap;
}

.footer_bottom-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer_bottom-left p {
  color: #FFFDFA;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer_bottom-left p:hover {
  color: #FFD900; /* yellow hover */
}

.divider {
  width: 1px;
  height: 15px;
  background-color: #C6C6C6;
}

.footer_right-text {
  color: #C6C6C6;
  font-size: 1.3rem;
}