*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
:root{
    --primary: #000000;
    --btn-color: #0077B6;
    --white: #ffff;
    --hero-btn: #0A93F4;
    --testimonial: #0A93F45C;
    --text-color: #000000b6;
    --btn: #55CDE5;
}
html{
    font-size: 62.5%;
}
@media (max-width:1200px) {
    html{
        font-size: 58%;
    }
}
@media (max-width:900px) {
    html{
        font-size: 55%;
    }
}
@media (max-width:600px) {
    html{
        font-size: 43.7%;
    }
}
body{
    height: 100vh;
}
/* Header Section */
.nav{
    /* position: fixed; */
    /* top: 0;
    left: 0;
    right: 0; */
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 0 18rem;
    align-items: center;
}
@media (max-width:1200px) {
    .nav{
        padding: 0 10rem;
    }
    .nav__logo{
       height: 8px;
       width: 8px;
       display: flex;
      justify-content: center;
    }
}
@media (max-width:900px) {
    .nav{
        padding: 1rem 8rem;
    }
}
@media (max-width: 700px) {
    .nav{
        padding: 1rem 5rem;
    }
}
@media (max-width: 550px) {
    .nav{
        padding: 1rem 5rem;
    }
}
.nav__logo{
    width: 15rem;
    height: 15rem;
    /* display: flex; */
}
@media (max-width:900px) {
    .nav__logo{
       height: 12rem;
       width: 12rem;
       /* display: flex;
       justify-content: center; */
    }
}
@media (max-width:700px) {
    .nav__logo{
       height: 15rem;
       width: 15rem;
       /* display: flex;
       justify-content: center; */
    }
}
.nav__menu{
    display: flex;
    gap: 8rem;
}
@media (max-width:900px) {
    .nav__menu{
       display: none;
    }
}
.nav__item{
    list-style: none;
}
.nav__link:hover{
    color: var(--hero-btn);
}
.nav__login{
    color: var(--btn-color);
    font-size: 1.5rem;
}
.nav__link{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--primary);
}
.nav__btn{
    padding: 1rem 3rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--btn-color);
    color: var(--white);
}
.nav__wrapper{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}
@media (max-width:700px) {
    .nav__wrapper{
      align-items: center;
      justify-content: center;
      margin-right: 5rem;
    }
}
/* Hero Section */
.hero{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 1rem 25rem;
    gap: 20rem;
}
@media (max-width:1200px) {
    .hero{
      margin: 3rem 5rem;
      gap: 8rem;
    }
}
@media (max-width: 1040px) {
    .hero{
     display: flex;
     flex-direction: column;
     margin: auto;
     width: 50%;
    }
}
@media (max-width: 790px) {
    .hero{
     width: 60%;
     margin-bottom: 5rem;
    }
}
@media (max-width: 790px) {
    .hero{
     width: 70%;
    }
}
.hero__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero__title{
    /* width: 55rem; */
    font-size: 8rem;
}
.smartstart{
    color: var(--hero-btn);
}
.hero__text{
    /* width: 30rem; */
    font-size: 1.5rem;
}
.hero__btn{
    width: 70%;
    background-color: var(--btn-color);
    color: var(--white);
    padding: 1.2rem 5rem;
    border: 1px solid #55CDE5;
    border-radius: 1rem;
    margin-top: 1.5rem;
}
.features{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 8rem;
    align-items: center;
    width: 100%;
}
@media (max-width: 650px) {
    .features{
        width: 60%;
        margin: auto;
    }
}
.features__wrapper{
    display: flex;
    width: 13rem;
    gap: .5rem;
    margin-bottom: 3rem;
    flex-direction: column;
}
.features__item{
    display: flex;
    gap: .5rem;
}
.features__icon{
    height: 3rem;
    width: 3rem;
}
.features__desc{
    font-weight: 400;
    color: var(--text-color);
}
.testimonial__wrapper{
    background-color: var(--testimonial);
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 18rem;
    height: 8rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    line-height: 1;
}
.testimonial__note{
    color: var(--text-color);
}
.testimonial__trust{
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.footer{
    background-color: var(--testimonial);
    display: flex;
    justify-content: center;
    width: 18rem;
    margin: auto;
    padding: 0%1rem;
}
p{
    font-size: 1rem;
    padding: .5rem;
}
a{
    color: var(--primary);
    text-decoration: none;
} 
