*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 25px;
    left: 40px;
    /* background-color: aqua; */
}
.logo img{
    width: 120px;
    height: auto;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.image-logo img{
    width: 200px;
}
.primary-btn{
    background-color: #0077B6;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.primary-btn:hover {
  background-color: #072ec8;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.link{
    display: block;
    margin-top: 10px;
    color: #0077B6;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.3s ease;
}
.link:hover{
    text-decoration: underline;
    color: #072ec8;
}