*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish",sans-serif;
} 
body {
  
}

.body{display: flex;
  justify-content: center;
  align-items: center;
}
.back_div {
  display: flex;
  justify-content: center;
}
.back {
  display: block;
  position: absolute;
  width: 1000px;
  height: 70vh;
  margin-top: 125px;
  filter: blur(3px);
  background: rgba(0, 0, 0, 0.30);
  
} 
.logo{
    position: absolute;
    top: 25px;
    left: 40px;
}
span {
  color: #0077B6;
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    background-color: #fff;
    padding: 30px 100px;
    border-radius: 10px;
    margin-top: 225px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);


}
.container h1 {
  font-size: 54px;
  color: #282929;
  font-weight: 700;
}
.container p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #585656;
    width: 500px;
}
.image-logo {
    width: 200px;
    height: auto;
}
.primary-btn{
    background-color: #0077B6;
    color: white;
    border: none;
    padding: 17px 50px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-align: center;width: 100%;
}
.primary-btn:hover{
    background-color: #072ec8;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  body {
    padding: 20px;
    height: auto;
  }

  .container {
    width: 100%;
    gap: 16px;
  }

  .primary-btn {
    font-size: 14px;
    padding: 10px 40px;
  }

  .logo {
    top: 15px;
    left: 20px;
  }

  .image-logo img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .container {
    gap: 12px;
  }

  .primary-btn {
    width: 100%;
    padding: 10px;
  }

  .image-logo img {
    width: 90%;
  }
  .logo{
    top: 15px;
    left: 20px;
  }
}

